In [60]:
import pandas as pd
import numpy as np
#from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
import random

In [61]:
df = pd.read_csv('AL_NJ_Income_PCT.csv')

In [62]:
df.head()

,STATEFIPS,STATE,zipcode,Returns_pct1,Returns_pct2,Returns_pct3,Returns_pct4,Returns_pct5,Returns_pct6,total
0,1,AL,35004,28.98,27.06,18.23,12.48,12.09,1.15,5210
1,1,AL,35005,42.26,30.97,14.52,6.45,5.81,0.00,3100
2,1,AL,35006,35.83,27.50,15.83,10.00,10.83,0.00,1200
3,1,AL,35007,34.09,22.19,15.24,11.22,15.24,2.01,11940
4,1,AL,35010,45.76,26.17,11.25,6.70,7.84,2.28,7910

In [63]:
df.isna().sum()

STATEFIPS       0
STATE           0
zipcode         0
Returns_pct1    0
Returns_pct2    0
Returns_pct3    0
Returns_pct4    0
Returns_pct5    0
Returns_pct6    0
total           0
dtype: int64

In [64]:
lb = LabelEncoder()
df['STATE'] = lb.fit_transform(df['STATE'])

In [65]:
X = df.iloc[:,3:9]
Y = df['STATE']

In [66]:
X

,Returns_pct1,Returns_pct2,Returns_pct3,Returns_pct4,Returns_pct5,Returns_pct6
0,28.98,27.06,18.23,12.48,12.09,1.15
1,42.26,30.97,14.52,6.45,5.81,0.00
2,35.83,27.50,15.83,10.00,10.83,0.00
3,34.09,22.19,15.24,11.22,15.24,2.01
4,45.76,26.17,11.25,6.70,7.84,2.28
...,...,...,...,...,...,...
1162,23.88,22.39,19.40,11.94,17.91,4.48
1163,23.25,13.63,10.22,9.02,24.85,19.04
1164,50.37,30.12,10.18,3.89,4.21,1.23
1165,29.67,22.66,14.69,10.27,17.09,5.62
1166,27.90,20.66,14.63,9.95,17.50,9.35

In [67]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
1162    1
1163    1
1164    1
1165    1
1166    1
Name: STATE, Length: 1167, dtype: int32